<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Settings</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <div class="collapse navbar-collapse show" id="navbarDark">
                    <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/resume">
                                Resumes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career">
                                Careers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/partner">
                                Partners
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/story">
                                Stories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/service">
                                Services
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/project">
                                Projects
                            </a>
                        </li>
                        <li>
                            <a class="nav-link active" href="/settings">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                    <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                    <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" id="logout">
                        <button class="btn btn-danger" id="logout-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container my-5" id="input-userdata">
         
        </div>

        <!-- Modal for Add/Edit Settings -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="editModalHeader">
                        <!-- Insert -->
                    </div>
                    <div class="modal-body" id="insertInModalBody">
                        <!-- Insert -->
                    </div>
                    <div class="modal-footer" id="insertInModalFooter">
                        <button type="submit" class="btn btn-success edit-button">
                            Confirm
                        </button>
                        <button class="btn btn-outline-danger" data-bs-dismiss="modal">
                            Cancel
                        </button>                    
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                let auth_passkey;
                let createdAt;
                let email;
                let id;
                let password;
                let to_email;
                let updatedAt;
                let username;
        
                function fetchUserData() {
                    $.get(`<%= BACKEND_URL %>/api/user/getData`, function (data) {
                        auth_passkey = data.auth_passkey;
                        createdAt = data.createdAt;
                        email = data.email;
                        id = data.id;
                        password = data.password;
                        to_email = data.to_email;
                        updatedAt = data.updatedAt;
                        username = data.username;
        
                        const userdataBody = document.getElementById('input-userdata');
                        userdataBody.innerHTML = '';

                        const inputs = document.createElement('div');
                        inputs.innerHTML = `
                        <div class="input-group my-2">
                            <span class="input-group-text" id="username-input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                                    <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
                                </svg>
                            </span>
                            <button class="btn btn-secondary edit-username-button" data-bs-toggle="modal" data-bs-target="#editModal">Change Username</button>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" id="password-input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </span>
                            <button class="btn btn-secondary edit-password-button"  data-bs-toggle="modal" data-bs-target="#editModal" >Change Password</button>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" id="contact-email-input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                                </svg>
                            </span>
                            <button class="btn btn-secondary edit-contact-email-button" data-bs-toggle="modal" data-bs-target="#editModal" >Change Contact Email</button>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" id="email-input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg></span>
                            <button class="btn btn-secondary edit-email-button"  data-bs-toggle="modal" data-bs-target="#editModal" >Change Email</button>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text" id="passkey-input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-key" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM3.21 11.85h-.87L.83 13.64H.79v-1.79H0v3.999h.791v-1.283l.41-.466 1.12 1.749h.951l-1.488-2.276 1.427-1.723Zm2.903 3.352h-1.79v-1.073h1.685v-.606H4.323v-1.025h1.79v-.648H3.538v3.999h2.575v-.647Zm2.243-.888v1.535h-.794v-1.52L6.223 11.85H7.1l.853 1.696h.032l.855-1.696h.856l-1.339 2.464Z"/>
                                </svg>
                            </span>
                            <button class="btn btn-secondary edit-passkey-button"  data-bs-toggle="modal" data-bs-target="#editModal" >Change Passkey</button>
                        </div>

                        `;
                    userdataBody.appendChild(inputs);
                        
                    }).fail(function() {
                        console.error('Error fetching user data');
                    });
                }

                $('#input-userdata').on('click', '.edit-username-button', function () {
                    const insertInModalHeader = document.getElementById('editModalHeader');
                    insertInModalHeader.innerHTML = `
                        <h5>Change Username</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    `;
                    const insertInModalBody = document.getElementById('insertInModalBody');
                    insertInModalBody.innerHTML = `
                        <div class="container" id="user-container">
                            <input id="edit-input" type="text" class="form-control" placeholder="Username" aria-label="Change" aria-describedby="input-group-left">
                        </div>
                    `;
                    $('#edit-input').val(username);
                });

                $('#input-userdata').on('click', '.edit-password-button', function () {
                    const insertInModalHeader = document.getElementById('editModalHeader');
                    insertInModalHeader.innerHTML = `
                        <h5>Change Passowrd</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    `;
                    const insertInModalBody = document.getElementById('insertInModalBody');
                    insertInModalBody.innerHTML = `
                        <div class="container my-2">
                            <input id="old-password-input" type="password" class="form-control" placeholder="Old Password" aria-label="Change" aria-describedby="input-group-left">
                        </div>
                        <div class="container my-2" id="password-container">
                            <input id="edit-input" type="password" class="form-control" placeholder="New Password" aria-label="Change" aria-describedby="input-group-left">
                        </div>
                        <div class="container my-2">
                            <input id="confirm-password-input" type="password" class="form-control" placeholder="Confirm Password" aria-label="Change" aria-describedby="input-group-left">
                        </div>
                    `;
                 });

                $('#input-userdata').on('click', '.edit-contact-email-button', function () {
                    const insertInModalHeader = document.getElementById('editModalHeader');
                    insertInModalHeader.innerHTML = `
                        <h5>Change Contact Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    `;
                    const insertInModalBody = document.getElementById('insertInModalBody');
                    insertInModalBody.innerHTML = `
                        <div class="container " id="contact-email-container">
                            <input id="edit-input" type="text" class="form-control" placeholder="Contact Email" aria-label="Change" aria-describedby="input-group-left">
                        </div>
                    `;
                    $('#edit-input').val(to_email);
                });

                $('#input-userdata').on('click', '.edit-email-button', function () {
                    const insertInModalHeader = document.getElementById('editModalHeader');
                    insertInModalHeader.innerHTML = `
                        <h5>Change Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    `;
                    const insertInModalBody = document.getElementById('insertInModalBody');
                    insertInModalBody.innerHTML = `
                        <div class="container " id="email-container">
                            <input id="edit-input" type="text" class="form-control" placeholder="Email" aria-label="Change" aria-describedby="input-group-left">
                        </div>
                    `;
                    $('#edit-input').val(email);
                });

                $('#input-userdata').on('click', '.edit-passkey-button', function () {
                    const insertInModalHeader = document.getElementById('editModalHeader');
                    insertInModalHeader.innerHTML = `
                        <h5>Change Passkey</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    `;
                    const insertInModalBody = document.getElementById('insertInModalBody');
                    insertInModalBody.innerHTML = `
                        <div class="container " id="passkey-container">
                            <input id="edit-input" type="text" class="form-control" placeholder="Passkey" aria-label="Change" aria-describedby="input-group-left">
                        </div>
                    `;
                    $('#edit-input').val(auth_passkey);
                });


                $('#insertInModalFooter').on('click', '.edit-button', function () {
                    const formData = new FormData();
                    const editInputValue = $('#edit-input').val();

                    const containerId = $('#edit-input').closest('.container').attr('id');

                    if(containerId === 'user-container'){
                        console.log(editInputValue);
                        formData.append('username', editInputValue);  
                    }else if(containerId === 'password-container'){
                        formData.append('password', editInputValue);  
                    }else if(containerId === 'contact-email-container'){
                        formData.append('to_email', editInputValue);  
                    }else if(containerId === 'email-container'){
                        formData.append('email', editInputValue);  
                    }else if(containerId === 'passkey-container'){
                        formData.append('auth_passkey', editInputValue);  
                    }

                    let object = {};
                    for (let pair of formData.entries()) {
                        object[pair[0]] = pair[1];
                    }

                    $.ajax({
                        url: `<%= BACKEND_URL %>/api/user/update/${id}`,
                        type: 'PUT',
                        data: object,
                        success: function (response) {
                            console.log('User updated successfully:', response);
                            $('#editModal').modal('hide');
                            fetchUserData();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status == 404) {
                                console.error('Error updating user:', 'User not found');
                            } else {
                                console.error('Error updating user:', thrownError);
                            }
                        }
                    });
                });

                fetchUserData();
            });
            document.getElementById('logout-button').addEventListener('click', function() {
                $.ajax({
                    url: `<%= BACKEND_URL %>/api/logout/`,
                    type: 'GET',
                    success: function (response) {
                        console.log('Logged out successfully.');
                        window.location.href = '/login';
                    },
                    error: function (xhr, textStatus, error) {
                        console.error('Error logging out:', error);
                    }
                });
            });
        </script>            
    </body>
</html>

<style>

</style>